* {
    font-size: 18px;
}
p {
    text-align: justify;
}

a {
    color: #d9534f;
}

.line {
    height: 1px;
    background-color: #d9534f;
    opacity: 0.3;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer{
    background-color: #516acc;;
    padding-top: 1rem;
    padding-bottom: 2em;
}

.footer a {
    color: black;
}