---
layout: base
---

<style>


    .header {
        background-color: #CB4C15;
        margin-top: 0px;
        margin-bottom: 20px;
        font-family: 'Source Code Pro', monospace;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header-inner {
        padding-top: 30px;
    }

    .header-container {
        padding-right: 0px;
        padding-left: 0px;
    }

    h1 {
        color: black;
        font-size: 60px;
        padding: 0px;
    }

    .site-header a:hover {
        text-decoration: none;
    }

    h2 {
        padding: 10px;
        padding-left: 0;
        color: black;
        font-family: 'Source Code Pro', monospace;

    }

    blockquote {
        font-size: 14px;
    }

    a {
        color: #CB4C15;
    }
</style>
<div class="container-fluid header-container">
    <div class="header" style="margin-top: 0px;">

        <div class="container">

            <div class="row">
                <div class="col-md-9 ">
                    <div class="header-inner">

                        <span class="site-header">
                            <a href="/"><h1 style="margin-bottom: 0;">Školení Git</h1></a>
                        </span>
                        <p>by <a href="https://ondrej-sika.cz" style="color:black"><b>Ondrej Sika</b></a> | <a
                                href="https://ondrej-sika.cz/skoleniio" style="color: black">Skoleni.io</a></p>
                        <a href="https://ondrej-sika.cz/skoleni/docker/poptavka/" class="btn btn-dark mb-2">Nezávazně
                            poptat
                            školení</a>

                        <a href="#kontakt" class="btn btn-large btn-dark mb-2">Kontaktovat</a>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <img src="Git-Icon.png" class="img-fluid d-none d-md-block">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">

            {{ content }}

        </div>
    </div>
</div>

